.prediction {
  font-size: 26px;
  font-weight: bold;
  color: #ececec;
  margin-bottom: 0px;
  align-items: flex-end;
}

/* General formatting */
body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  background: #202731;
  overflow-x: hidden;
}

/* Content formatting */
section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 400px;
  padding: 100px 20vw;
}

sectionData {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  min-height: 400px;
  margin-left: 11vw;
  justify-content: center;
  padding: 10px;
}

p {
  z-index: 1;
  position: relative;
}

.green {
  background: #7be787;
  z-index: -2;
  background-size: cover;
}

/* SVG page border */
.spacer {
  aspect-ratio: 960/90;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.header {
  aspect-ratio: 960/90;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
} 

.haikei {
  background-image: url('layered-waves-haikei.svg');
}

.flip {
  transform: rotate(180deg);
}

/* Animated blobs */
.blob-motion {
  position: absolute;
  transform: translateY(-20%);
}

svg { 
  position:absolute; 
  top:0; 
  bottom:0; 
  left: 200px; 
  right:0;
  z-index: -1;
  align-items: center;
}

/* Sidebar formatting */
.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #202731;
  overflow-x: hidden;
  padding-top: 16px;
}

/* Sidebar links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Style the main content */
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

/*additional section option*/
subsection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 20vw;
  padding-bottom: 0;
}

/* tableau visualizations */
.tableau {
  align-items: center;
  margin-left: 150px;
  padding: 10px;
}

.btn-primary {
  position: relative;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  width: 150px;
  height: 100%;
  background: #7be787;
  border: 2px solid #7be787;
  border-radius: 8px;
  font-size: 19px;
  color: #181D20;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}
.btn-primary:hover {
  color: #7be787;
  background: transparent;
  border: 2px solid #7be787;
}
.btn-primary::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #181D20;
  z-index: -1;
  transition: .5s;
}
.btn-primary:hover::before {
  width: 100%;
}

a {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  background: #202731;
  overflow-x: hidden;
}

a:hover {
  color:#cdcdcd;
}
calculator {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 400px;
  padding: 15vw;
  padding-top: 15px;
}